/* استایل منو دسکتاپ */
.navbar {
  height: 80px;
  border-bottom: 1px solid rgb(189, 179, 179);
}
.main-menu > li {
  position: relative;
}

.main-menu .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  min-width: 180px;
  display: none;
  z-index: 1000;
}

.main-menu .dropdown-menu li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: #333;
}

.main-menu .dropdown-menu li a:hover {
  background: #f2f2f2;
  color: #01070c;
}

.main-menu .dropdown:hover .dropdown-menu {
  display: block;
}

/* منوی موبایل ایکس‌باکس */
.xbox-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  background-color: #e0e0e0; /* خاکستری */
  border: 1px solid #ddd;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  min-width: 180px;
  z-index: 1000;
}




.xbox-dropdown li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: #333;
}

.xbox-dropdown li a:hover {
  background: #f2f2f2;
  color: #0067b8;
}

.xbox-menu:hover .xbox-dropdown {
  display: block;
}


/* Dropdown دسکتاپ */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  min-width: 180px;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu li a:hover {
  background: #f2f2f2;
  color: #0067b8;
}

/* منوی موبایل ایکس‌باکس */
.xbox-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  min-width: 180px;
  z-index: 1000;
}

.xbox-dropdown li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: #0c0101;
}

.xbox-dropdown li a:hover {
  background: #f2f2f2;
  color: #0067b8;
}

.xbox-menu:hover .xbox-dropdown {
  display: block;
}

.nav-link{
  color: #01070c;
}












  
  .hero-section{
    width: 100%;
    height: auto;
    position: absolute;
  }
  .hero-text{
    position: absolute;
    padding: 20px;
    
    z-index: 10;
    text-align: center;
    color: white;
  }

  @media (min-width: 992px) {
    .hero-text{
      top: 50%;
      left: 0%;
      bottom: auto;
      transform: translateY(-30%);
      text-align: left;
      max-width: 400px;
      position: absolute;
    }
    .hero-section img{
      max-height: 700px;
      width: 100%;
      object-fit: cover;
    }
  }



  .hero-section {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .hero-text {
    z-index: 10;
    padding: 20px;
    max-width: 500px;
    color: #fff;
  }
  
  .hero-text h2,
  .hero-text p {
    color: #fff;
  }
  
  /* فاصله بالای بخش آیکون‌ها نسبت به Hero */
  .icons-section {
    margin-top: 30px;
  }




